.idea/
data/**
data/
self_training_slm/fine_tuned/**
self_training_slm/models/roberta-base/**
self_training_slm/models/Helsinki-NLP/**
self_training_slm/models/**
self_training_slm/models/
self_training_slm/.cache/**
self_training_slm/data_out/

CORALV1_0/self_training_slm/fine_tuned/**
CORALV1_0/self_training_slm/models/roberta-base/**
CORALV1_0/self_training_slm/models/Helsinki-NLP/**
CORALV1_0/self_training_slm/models/**
CORALV1_0/self_training_slm/models/
CORALV1_0/self_training_slm/.cache/**
CORALV1_0/self_training_slm/data_out/